extends layout 
 
block content 
  h1= title 
 
  - let vehicleid = toShow._id 
  - let name = toShow.name 
  - let fuel = toShow.fuel 
  - let wheels = toShow.wheels 
   
  div.row(class='mb-2') 
    div.mr-1 ID is 
    div #{vehicleid} 
  - let actionid = "/resource/vehicles/" + vehicleid 
  form(id='VehicleForm', action= actionid, method="PUT") 
    div.form-group 
        label.vehicleAttr(for='name') Vehicle name 
        input#name(type='text', name='name', value= name ) 
    div.form-group 
        label.vehicleAttr(for='fuel') Vehicle fuel 
        input#fuel(type='text', name='fuel', value= fuel ) 
    div.form-group 
        label.vehicleAttr(for='wheels') Vehicle wheels 
        input#wheels(type='number', name='wheels', value= wheels ) 
    input(type="submit") 
 
  script. 
    document.forms['VehicleForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'PUT', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Update succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Update failed " + error ) 
      }); 
    }); 